#userprofile {

  background-color: #e3e3e3;

  height: 250px;

  font-size: 20px;

  border-bottom: solid black 1px;


  #homeProfileImg {
    margin: 20px 0px;
    height: 200px;
    width: 200px;
  }

  #logout {
    text-decoration: underline;
    font-size: 12px;
    position: absolute;
    right: 2em;
  }

  img{
    height: 200px;
    width: 200px;
  }
  .mainDescription {
    position: relative;
    left: 12em;
    bottom: 10em;
    margin-bottom: 5px;
  }

  li {
    list-style-type: none;
  }

  #createMatch {
    padding: 15px;
    background-color: #1e8880;
    color: white;
    border: none;
    border-radius: 20px;
    box-shadow: 1px 5px 8px 0px rgba(0,0,0,0.50);
    outline: none;
    position: absolute;
    left: 35em;
    top: 10em;
  }
  #createMatch:active {
    box-shadow: none;
  }

}

#yourMatches {
  a {
    color: black;
  }
  ul {
    border-bottom: 1px solid #4f1e47;
    margin-left: 20px;
    width: 1200px;
    height: 230px;
  }

  ul:nth-last-child(1){
    border-bottom:none;
    padding-bottom:20px;
  }

  li {
    list-style-type: none;
    padding-bottom: 5px;
  }

  #profileName {
    text-decoration: none;
    color: #00bfff;
  }

  #profileName:hover {
    text-decoration: underline;
  }

  #skillProgressHome {
    position: relative;
    left: 20em;
    bottom: 5em;
  }

  .skill {
    width: 300px;
  }

  #sportImage {
    float: left;
    height: 200px;
    width: 200px;
    margin-left: 25px;
    margin-right: 50px;
  }

  #dateHome {
    text-decoration: none;
  }

  #dateHome:hover {
    text-decoration: underline;
  }
  #goToFeedback{
    position: relative;
    left: 825px;
    bottom: 100px;
    padding: 15px 30px;
    background-color: #1e8880;
    color: white;
    border: none;
    border-radius: 20px;
    box-shadow: 1px 5px 8px 0px rgba(0,0,0,0.50);
    outline: none;
  }

}