#loginPage{
	background-color: #D8DFEA;
	height: 35em;
	width: 50%;
	margin: 0% 25%;
	text-align: center;
	
	#loginHeader{
		height: 75px;
		background-color: #356b66;
	h2{
		padding-top: 25px;
		color: white;
	}
	}
	#loginForm{
		input{
		margin: 10px 5px 5px;
		font-size: 18px;
		width: 300px;
		padding:8px 10px;
		border: none;
		border-radius: 5px;
	}

	#loginSubmit {
	margin: 15px 0 0 70px;
    padding: 15px;
    background-color: #356b66;
    color: white;
    border: none;
    border-radius: 20px;
    box-shadow: 1px 5px 8px 0px rgba(0,0,0,0.50);
    outline: none;
  }
  .register {
  	text-decoration: none;
    padding: 15px;
    background-color: #356b66;
    color: white;
    border: none;
    border-radius: 20px;
    box-shadow: 1px 5px 8px 0px rgba(0,0,0,0.50);
    outline: none;
  }
	}
}