#imageContainer {
  width: 100%;
  background-image: url('/images/tennis.jpg');
  background-position: center;
  background-repeat: no-repeat;
  height: 350px;
  #over{
    position: relative;
    top: 45%;
    left: 20%;
    font-size: 2em;
  }
  #createMatchButton {
    color: white;
    background-color: #ef3122;
    border-radius: 15px;
    border: none;
    outline: none;
    box-shadow: 10px 10px 8px 0px rgba(0,0,0,0.50);
  }

  #createMatchButton:active {
    box-shadow: 0 0 0 0;
    font-size: 29px;
  }

  #mission {
    color: white;
    width: 60%;
  }
}

#upComing {
  width: 80%;
  margin: 2% 10%;
  select {
    font-size: 18px;
    margin: 1em .5em .5em;
    border: none;
    padding: 8px 10px;
    border-radius: 5px;
    background-color: #e3e3e3;
  }

  #sportImage {
    display: inline-block;
    position: relative;
    top: 2em;
    width:40% ;
    img{
    width: 65%;
    margin: 2em;
    }
  }

  a {
    text-decoration: none;
    color: black;
  }

  a:hover {
    text-decoration: underline;
  }

  ul {
    border-bottom: 1px solid #4f1e47;
    width: 100%;
    padding: 0;
    height: auto;
    background-color: white;

  }

  ul:nth-last-child(1){
    border-bottom:none;
    padding-bottom:20px;
  }

  li:nth-last-child(1){
    margin-bottom:35px;
  }

  li {
    list-style-type: none;
  }

  .description {
    display: inline-block;
    position: relative;
    font-size: 1.2em;
    width: 9em;
    right: 4em;
    bottom: 6em;
    line-height: 33px;
  }

  #skillProgress {
    display: inline-block;
    position: relative;
    top: 2em;
    right: 28em;
    width: 30%;
    .skill{
      width: 80%;
    }
  }

  #matchSubmit {
    padding: 15px;
    background-color: #1e8880;
    color: white;
    border: none;
    border-radius: 20px;
    box-shadow: 1px 5px 8px 0px rgba(0,0,0,0.50);
    outline: none;
    display: inline-block;
    position: relative;
    left: 50em;
    bottom: 12em;
    margin: 1em;
  }

  #matchSubmit:active {
    box-shadow: none;
  }

  #profilePic {
    border-radius: 100%;
    height: 120px;
    position: relative;
    right: 25em;
    top: 1em;
  }

  #players {
    display: inline-block;
  }

  #profileName {
    position: relative;
    right: 30em;
    top: 2em;
  }

  .creatorName {
    color: #00bfff;
  }

  .creatorName:hover {
    text-decoration: underline;
  }

  .skill {
    width: 300px;
  }

  #parkAnchor {
    color: grey;
  }

  #next {
    margin-bottom: 1em;
  }
  #prev {
    margin-left: .5em;
  }
}