#imageContainer {
  background-image: url('/images/tennis.jpg');
  background-position: center;
  background-repeat: no-repeat;
  height: 420px;
  width: 100%;

  #createMatchButton {
    position: absolute;
    top: 370px;
    left: 330px;
    color: white;
    background-color: #ef3122;
    font-size: 30px;
    border-radius: 15px;
    border: none;
  }

  #mission {
    position: absolute;
    top: 250px;
    left: 200px;
    font-size: 40px;
    color: white;
  }
}

#upComing {

  a {
    text-decoration: none;
    color: black;
    font-size: 20px;
  }

  font-size: 17px;

  p {
    border: 1px solid #4f1e47;
    width: 1200px;
  }

  li {
  list-style-type: none;
}
  #matchSubmit {
    padding: 15px;
    background-color: #1e8880;
    color: white;
    border: none;
    border-radius: 20px;
    position: absolute;
    right: 5em;
  }
  #skillProgress {
    position: absolute;
    right: 30em;
  }
}