#matchDetailContainer {
  height: 30em;

  ul {

  }
  li {
    list-style-type: none;
    margin-bottom: 15px;
  }

  a {
    text-decoration: none;
  }
  #matchSkill {
    position: absolute;
    left: 30em;
    top: 10em;
  }

  .skill {
    width: 300px;
    margin-left: 8px;
  }

  #join {
    padding: 15px;
    background-color: #1e8880;
    color: white;
    border: none;
    border-radius: 20px;
    box-shadow: 1px 5px 8px 0px rgba(0,0,0,0.50);
    outline: none;
    position: absolute;
    left: 40em;
    top: 8em;
  }

  #join:active {
    box-shadow: none;
  }

  #confirm {
    padding: 15px;
    background-color: #1e8880;
    color: white;
    border: none;
    border-radius: 20px;
    box-shadow: 1px 5px 8px 0px rgba(0,0,0,0.50);
    outline: none;
  }

  #confirm:active {
    box-shadow: none;
  }

  #decline {
    padding: 15px;
    background-color: #1e8880;
    color: white;
    border: none;
    border-radius: 20px;
    box-shadow: 1px 5px 8px 0px rgba(0,0,0,0.50);
    outline: none;
  }

  #decline:active {
    box-shadow: none;
  }

  #homeBtn {
    padding: 15px;
    background-color: #1e8880;
    color: white;
    border: none;
    border-radius: 20px;
    box-shadow: 1px 5px 8px 0px rgba(0,0,0,0.50);
    outline: none;
  }

  #homeBtn:active {
    box-shadow: none;
  }

  #sportImage {
    height: 200px;
    width: 200px;
    float: left;
    margin-top: 40px;
    margin-left: 20px;
  }
}
