#matchDetailContainer {
  height: 30em;
  li {
    list-style-type: none;
  }
  #playersFeedback {
    width: 20px;
  }

  #matchJoin {
    width: 35%;
    position: relative;
    left: 20%;
    bottom: 15.2em;

    li {
      margin-bottom: 10px;
    }
  }

  #matchSkill {
    position: relative;
    left: 66%;
    top: 6em;
  }

  #playerImage {
    position: relative;
    left: 24%;
    bottom: 14em;
    width: 7%;
  }

  .skill {
    width: 59%;
  }

  #join {
    padding: 15px 30px;
    background-color: #1e8880;
    color: white;
    border: none;
    border-radius: 20px;
    box-shadow: 1px 5px 8px 0px rgba(0,0,0,0.50);
    outline: none;
    position: relative;
    left: 70%;
    bottom: 26.2em;
  }

  #join:active {
    box-shadow: none;
  }

  #confirm {
    padding: 15px;
    background-color: #1e8880;
    color: white;
    border: none;
    border-radius: 20px;
    box-shadow: 1px 5px 8px 0px rgba(0,0,0,0.50);
    outline: none;
    position: absolute;
    top: 28em;
    left: 4.5em;
  }

  #confirm:active {
    box-shadow: none;
  }

  #decline {
    padding: 15px;
    background-color: #1e8880;
    color: white;
    border: none;
    border-radius: 20px;
    box-shadow: 1px 5px 8px 0px rgba(0,0,0,0.50);
    outline: none;
    position: absolute;
    top: 32em;
    left: 4.5em;
  }

  #decline:active {
    box-shadow: none;
  }
  #sportImage {
    display: inline-block;
    width: 20%;
    margin: 1% 2%;
    position: relative;
    top: 4em;
    img {
      width: 140%;
      height: 14em;
      position: relative;
      bottom: 1em;
    }
  }

  #cancel {
    font-size: 12px;
  }

  #update {
    font-size: 12px;
  }

  #cancelEdit {
    display: inline-block;
    position: relative;
    right: 5%;
    bottom: 14em;
    a {
      color: black;
    }
    a:hover {
      text-decoration: underline;
    }
  }
  #parkLink {
    color: black;
  }
  #parkLink:hover {
    text-decoration: underline;
  }
  #playersFeedback {
    display: inline-block;
    padding: 0;
  }
}
