#matchDetailContainer {
  height: 30em; }
  #matchDetailContainer li {
    list-style-type: none; }
  #matchDetailContainer #playersFeedback {
    width: 20px; }
  #matchDetailContainer #matchJoin {
    width: 35%;
    position: relative;
    left: 20%;
    bottom: 15.2em; }
    #matchDetailContainer #matchJoin li {
      margin-bottom: 10px; }
  #matchDetailContainer .createdName {
    color: black; }
  #matchDetailContainer #matchSkill {
    position: relative;
    left: 66%;
    top: 6em; }
  #matchDetailContainer #playerImage {
    position: relative;
    left: 24%;
    bottom: 14em;
    width: 7%;
    margin-left: 1em; }
  #matchDetailContainer .skill {
    width: 59%; }
  #matchDetailContainer #join {
    padding: 15px 30px;
    text-decoration: none;
    background-color: #1e8880;
    color: white;
    border: none;
    border-radius: 20px;
    box-shadow: 1px 5px 8px 0px rgba(0, 0, 0, 0.5);
    outline: none;
    position: relative;
    left: 70%;
    bottom: 27em; }
  #matchDetailContainer #join:active {
    box-shadow: none; }
  #matchDetailContainer #confirm {
    padding: 15px;
    text-decoration: none;
    background-color: #1e8880;
    color: white;
    border: none;
    border-radius: 20px;
    box-shadow: 1px 5px 8px 0px rgba(0, 0, 0, 0.5);
    outline: none;
    position: absolute;
    top: 29em;
    left: 4.5em;
    text-decoration: none; }
  #matchDetailContainer #confirm:active {
    box-shadow: none; }
  #matchDetailContainer #decline {
    padding: 15px;
    background-color: #1e8880;
    text-decoration: none;
    color: white;
    border: none;
    border-radius: 20px;
    box-shadow: 1px 5px 8px 0px rgba(0, 0, 0, 0.5);
    outline: none;
    position: absolute;
    top: 33em;
    left: 4.7em;
    text-decoration: none; }
  #matchDetailContainer #decline:active {
    box-shadow: none; }
  #matchDetailContainer #sportImage {
    display: inline-block;
    width: 20%;
    margin: 1% 2%;
    position: relative;
    top: 4em; }
    #matchDetailContainer #sportImage img {
      width: 140%;
      height: 14em;
      position: relative;
      bottom: 1em; }
  #matchDetailContainer #cancel {
    font-size: 12px;
    position: absolute;
    top: 37em;
    right: 89%; }
  #matchDetailContainer #update {
    font-size: 12px;
    position: absolute;
    position: absolute;
    top: 37em;
    right: 84%; }
  #matchDetailContainer #cancelEdit a {
    color: black;
    text-decoration: none; }
  #matchDetailContainer #cancelEdit a:hover {
    text-decoration: underline; }
  #matchDetailContainer #parkLink {
    color: grey;
    text-decoration: none; }
  #matchDetailContainer #parkLink:hover {
    text-decoration: underline; }
  #matchDetailContainer #playersFeedback {
    display: inline-block;
    padding: 0; }
  #matchDetailContainer #leaveMatch {
    padding: 15px;
    background-color: #1e8880;
    text-decoration: none;
    color: white;
    border: none;
    border-radius: 20px;
    box-shadow: 1px 5px 8px 0px rgba(0, 0, 0, 0.5);
    outline: none;
    position: absolute;
    top: 15.5em;
    right: 8.5em; }
  #matchDetailContainer #feedBackMatch {
    padding: 15px;
    background-color: #1e8880;
    text-decoration: none;
    color: white;
    border: none;
    border-radius: 20px;
    box-shadow: 1px 5px 8px 0px rgba(0, 0, 0, 0.5);
    outline: none;
    position: relative;
    bottom: 26em;
    left: 65%; }

/*# sourceMappingURL=match.css.map */
