#matchDetailContainer {
  height: 30em;
  li {
    list-style-type: none;
    margin-bottom: 15px;
  }

  ul {
    padding-top: 60px;

  }

  a {
    text-decoration: none;
  }
  #matchSkill {
    position: absolute;
    left:16em;
    top: 11.35em;
  }

  .skill {
    width: 300px;
    margin-left: 8px;
  }

  #join {
    padding: 15px 30px;
    background-color: #1e8880;
    color: white;
    border: none;
    border-radius: 20px;
    box-shadow: 1px 5px 8px 0px rgba(0,0,0,0.50);
    outline: none;
    position: absolute;
    left: 5em;
    top: 25em;
  }

  #join:active {
    box-shadow: none;
  }

  #confirm {
    padding: 15px;
    background-color: #1e8880;
    color: white;
    border: none;
    border-radius: 20px;
    box-shadow: 1px 5px 8px 0px rgba(0,0,0,0.50);
    outline: none;
    position: absolute;
    top: 26em;
    left: 3em;
  }

  #confirm:active {
    box-shadow: none;
  }

  #decline {
    padding: 15px;
    background-color: #1e8880;
    color: white;
    border: none;
    border-radius: 20px;
    box-shadow: 1px 5px 8px 0px rgba(0,0,0,0.50);
    outline: none;
    position: absolute;
    top: 30em;
    left: 3em;
  }

  #decline:active {
    box-shadow: none;
  }


  #sportImage {
    height: 200px;
    width: 200px;
    float: left;
    margin-top: 40px;
    margin-left: 20px;
  }

  #cancel {
    font-size: 12px;
  }

  #update {
    font-size: 12px;
  }

  #matchDescription {
    width: 600px;
    padding-left: 240px;
  }
  #cancelEdit {
    padding-left: 50px;
    a {
      color: black;
    }
    a:hover {
      text-decoration: underline;
    }
  }
  #parkLink {
    color: black;
  }
  #parkLink:hover {
    text-decoration: underline;
  }
  #playersFeedback {
    display: inline-block;
    padding: 0;
  }
}
