#parksPage {
  * {
    display: inline-block;
    margin: 0;
  }
  #parksDetail {
    background-color: #e3e3e3;
    height: 250px;
    font-size: 20px;
    border-bottom: solid black 1px;
    width: 100%;

    #googleMaps2 {
      position: relative;
      top: .5em;
      right: 1%;
    }
  }
     .parkName {
      position: relative;
      bottom: 6em;
    }
}