#parksContainer{
	width: 90%;
	display: inline-block;
	margin: 5%;
	margin-top: 2%;
	#zip {
		margin-left: 1%;
	}
	.parks{
		padding: 0;
		float: left;
		height: 20em;
		width: 100%;
		background-color: white;
		list-style: none;

		li{
			display: inline-block;
			width: 20%;
		}
		a{
			text-decoration: none;
			font-size: 1em;
			color: black;
		}
		.availableSports {
		float:left;
		width: 45%;
		list-style-type: none;
		position: relative;
		left: 40%;
		bottom:8em;
		.sportPic {
			width: 19%;
    padding-right: 0.1em;
		}
	}
		#googleMaps {
			float: left;
			position: relative;
			top: .5em;
			left: 10%;
		}
		.parksImage {
			position: relative;
    	left: 88%;
    	bottom: 12em;
		}
		#parkName {
			font-size: 1.2em;
		}
		#parkPic{
			width: 10%;
		}
		#parkDet{
    	position: relative;
    	left: 8%;
    	bottom: 15em;
			a{
				text-decoration: none;
				font-size: 1em;
				color: black;
			}
		}
		.parkAddress {
	    position: relative;
	    right: 22.2%;
	    bottom: 8.5em;
		}
		.parkMatch{
	    position: relative;
	    left: 8%;
	    bottom: 10.5em;
	    width: 10%;
	    color: white;
	    background-color: #ef3122;
	    border-radius: 15px;
	    border: none;
	    outline: none;
	    box-shadow: 10px 10px 8px 0px rgba(0, 0, 0, 0.5);
	    text-align: center;
	    padding: 1%;
	    font-size: 18px;
		}

		.parkMatch:active {
			box-shadow: none;
		}
			  a {
			    color: white;
			    text-decoration: none;
		  }
		  #updateDetails{
		  	position: relative;
		  	left: 100%;
		  	top: 6em;
		  }
		}
	}

