#parksContainer{
	width: 90%;
	display: inline-block;
	margin: 5%;
	#parks{
		background-color: white;
		list-style: none;
		border-bottom: 1px solid #4f1e47;
		
		.parkName{
		
	
		a{
			text-decoration: none;
			font-size: 1em;
			color: white;
		}	
	}
	}
	#parksImage{
		width: 15em;
		height: 100px;
	}
}