#profileContainer {

  #userProfileImg {
    height: 200px;
    width: 200px;
  }

  background-color: #e3e3e3;

  height: 250px;

  font-size: 20px;

  border-bottom: solid black 1px;

  #userProfileImg {
    margin: 20px 0px;
  }

  .profileDescription {
    position: relative;
    left: 12em;
    bottom: 10em;
    margin-bottom: 5px;
  }

  li {
    list-style-type: none;
  }

}

#historyContainer {
  overflow: auto;

  a {
  text-decoration: none;
  }

  li {
    list-style-type: none;
    position: relative;
    left: 15em;
    bottom: 10em;
  }

  h2 {
    margin-left: 15px;
  }

  ul {
    border-bottom: 1px solid #4f1e47;
    width: 1200px;
    margin-left: 20px;
  }

  ul:nth-last-child(1) {
    border-bottom:none;
  }

  #goToFeedback {
    padding: 15px;
    background-color: #1e8880;
    color: white;
    border: none;
    border-radius: 20px;
    box-shadow: 1px 5px 8px 0px rgba(0,0,0,0.50);
    outline: none;
    position: relative;
    left: 35em;
  }

  #goToFeedback:active {
    box-shadow: none;
  }

  #sportImage {
    padding-left: 40px;
    height: 200px;
    width: 200px;
  }
}