#signupPage{
	background-color: #D8DFEA;
	height: 35em;
	width: 50%;
	margin: 0% 25%;
	text-align: center;
	box-shadow: 4px 0px 8px 0px rgba(0,0,0,0.50);
	#signupHeader{
		height: 75px;
		background-color: #1e8880;
	h2{
		padding-top: 25px;
		color: white;
	}
}
	#signupForm{
		input{
		margin: 10px 5px 5px;
		font-size: 18px;
		width: 300px;
		padding:8px 10px;
		border: none;
		border-radius: 5px;
	}
	select{
		margin: 10px 5px 5px;
		font-size: 18px;
		width: 300px;
		padding:8px 10px;
		border: none;
		border-radius: 5px;
		position: relative;
		left: 50px;
	}
	#remail{
		position: relative;
		left: 22px;
	}

	#rerpass {
		margin-right: 4em;
	}

	.rgen{
		width: 30px;
		margin: 0;
		padding:0;
	}
	#gender{
		position: relative;
		right: 39px;
	}
	#rnumber{
		position: relative;
		left: 17px;
	}
	.register {
  	text-decoration: none;
    padding: 15px;
    background-color: #1e8880;
    color: white;
    border: none;
    border-radius: 20px;
    box-shadow: 1px 5px 8px 0px rgba(0,0,0,0.50);
    outline: none;
    position: relative;
    top: 30px;
  }
}
}