#updatePage {
  background-color: #e3e3e3;
  height: 35em;
  width: 50%;
  margin: 0% 25%;
  text-align: center;
  box-shadow: 4px 0px 8px 0px rgba(0,0,0,0.50);

  h2 {
    padding-top: 1em;
    color: white;
    background-color: #1e8880;
    border: solid #1e8880 1px;
    height: 50px;
  }

  ul {
    list-style-type: none;
  }
  li {
    margin-top: 10px;
  }
  input {
    font-size: 18px;
    margin: 10px 55px 5px;
    border: none;
    width: 50%;
    padding: 8px 10px;
    border-radius: 5px;
  }
  #gender {
    margin: 2px;
  }
  .rgen {
    margin: 4px;
    width: 10px;
  }
  #ruser {
    position: relative;
    right: 1em;
  }
  #rpass {
    position: relative;
    right: 1em;
  }
  #rerpass {
    position: relative;
    right: 3em;
  }
  #rtxt {
    position: relative;
    right: 1em;
  }
  #rnumber {
    position: relative;
    right: .2em;
  }
  #rage {
    position: relative;
    left: .3em;
  }
  #imageUpload {
    position: relative;
    left: 2em;
  }
  #user {
    position: relative;
    right: .7em;
  }
  .register {
    position: relative;
    left: 12em;
    bottom: 2em;
  }

  select {
    font-size: 18px;
    margin: 10px 5px 5px;
    border: none;
    width: 315px;
    padding: 8px 10px;
    border-radius: 5px;
  }

  textarea {
    width: 320px;
    margin-right: -40px;
    height: 50px;
    border-radius: 5px;
    border: none;
  }
}