<h2> Create Match Page </h2>

<ul id="create">
  <h3> Create Game </h3>
  <li> Sport:</li> <input id="addSport"type="text" placeholder="Add Sport">
  <li> Date:</li>  <input id="addDate" type="date">
  <li> Time:</li> <input id="addTime" type="time">
  <li> Skill: 1-100</li> <input id="addSkill" type="text">
  <li> Park:</li>
  <select id="addPark" name="park">
  {{#park}}
  <option value="{{id}}">{{name}}</option>
  {{/park}}
  </select>
  <button id="createMatch" type="submit">Submit</button>
</ul>