<div id="feedbackContainer">
  <form id="feedbackForm">
  <h3>Skill level of player <span id="skillLevel" class="info">i</span></h3>
    <span id="skillLevelinfo" class="hidden">On a scale from 1 - 100 Please rate the players skill</span>
    <input id="addSkillFeedback" type="range" min="0" max="100" step="1" value="0">
<h3>Sportsmanship <span id='Sportsmanship'class="info">i</span></h3>
    <span id='Sportsmanshipinfo' class="hidden">On a scale from 1 - 100 Please rate how fun the match was</span>
    <input id="addFunFeedback"  type="range" min="0" max="100" step="1" value="0">
<h3>Crowd level <span id="crowd"class="info">i</span></h3>
<span id="crowdinfo" class="hidden">On a scale from 1 - 5 Please tell us how crowded the park was</span>
    <input id="addCrowdFeedback"  type="range" min="0" max="5" step="1" value="0">
    </br>
    <select id="addPunctualityFeedback" name="Punctuality">
      <option value="No Show">No Show</option>
      <option value="On Time">On Time</option>
      <option value="Little bit late">Little Late</option>
      <option value="Over 10 min late">Over 10 mins late</option>
    </select>
  </form>
  <button id="submitFeedback" type="sumbit"> Feedback </button>
</div>