<h2>LOG IN Page</h2>
<form>
  <label>EMAIL:</label>
  <input id="username" type="email" placeholder="EMAIL">
  </br>
  <label>PASSWORD:</label>
  <input id="password" type="password" placeholder="PASSWORD">
  </br>
  <button id="loginSubmit" type="submit" href="/home">Submit</button>
</form>

<h2>REGISTER</h2>
<form>
  <label>USERNAME:</label>
  <input id="ruser" type="text" placeholder="Username">
  </br>
   <label>EMAIL:</label>
  <input id="remail" type="email" placeholder="Email">
  </br>
  <label>PASSWORD:</label>
  <input id="rpass" type="password" placeholder="Password">
  </br>
  <label>GENDER:</label>
  <input id="rgen" type="radio" name="Gender" value="Male"> Male
  <input id="rgen" type="radio" name="Gender" value="Female"> Female
  <input id="rgen" type="radio" name="Gender" value="Other"> Other
  </br>
  <select id="rage" name="age">
  <option value="age">Enter Age</option>
  <option value="Under 16">Under 16</option>
  <option value="16-19">16-19</option>
  <option value="20's">20's</option>
  <option value="30's">30's</option>
  <option value="40's">40's</option>
  <option value="50's">50's</option>
  <option value="60+">60 +</option>
</select>
  <button id="register" type="submit" href="/login">Submit</button>
</form>

