<h2>LOG IN Page</h2>
<form>
  <label>EMAIL:</label>
  <input id="username" type="email" placeholder="EMAIL">
  </br>
  <label>PASSWORD:</label>
  <input id="password" type="password" placeholder="PASSWORD">
  </br>
  <button id="loginSubmit" type="submit" href="/home">Submit</button>
</form>

<h2>REGISTER</h2>
<form>
  <label>FIRST NAME:</label>
  <input type="text" placeholder="First Name">
  </br>
  <label>LAST NAME:</label>
  <input type="text" placeholder="Last Name">
  </br>
  <label>USERNAME:</label>
  <input type="text" placeholder="Username">
  </br>
   <label>EMAIL:</label>
  <input type="email" placeholder="Email">
  </br>
  <label>PASSWORD:</label>
  <input type="password" placeholder="Password">
  </br>
  <label>SEX:</label>
  <input type="radio" name="Sex" value="male"> Male
  <input type="radio" name="Sex" value="female"> Female
  </br>
  <button type="submit" href="/">Submit</button>
</form>

