<link href='https://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>
<div id="imageContainer">
  <p id="mission"> Find the Game for you... </p>
  <button id="createMatchButton" type="submit">Create Match</button>
</div>
<div id="upComing">
<div id="filter">
  <select id="sport">
    <option>Filter Sport</option>
    <option value="tennis">Tennis</option>
    <option value="basketball">Basketball</option>
    <option value="football">Football</option>
    <option value="soccer">Soccer</option>
    <option value="other">Other</option>
  </select>

</div>
{{#data}}
<a href="/match/{{id}}"><img id="sportImage"src="{{img_url}}"></a>
  <ul>
    <li class="description"> <a href="/match/{{id}}"> {{date}}</a></li>
    <li class="description">  {{time}}</li>
    <li class="description">{{sport}}</li>
    <li class="description"> <a id="parkAnchor" href="/parksDetail/{{park}}">{{park_name}}</a></li>
    </br>
    <li class="description"> Created By: <a href="/profile/{{creator}}" class="creatorName"> {{creator_name}} </a></li>
    <li id="skillProgress"> Skill level <progress class="skill" value="{{skill_level}}" max="100">
    </progress></li>
    <li><a id="matchSubmit" type="sumbit" href="/match/{{id}}"> Join </a></li>
</ul>
{{/data}}
<div id="pagination">
<button id="prev">Prev</button>
<button id="next">Next</button>
</div>
</div>
