<div id="matchDetailContainer">
  {{#data}}
  <img id="sportImage"src="{{img_url}}">
  <ul>
    <li> {{date}}</li>
    <li> {{time}}</li>
    <li> {{sport}} </li>
    <li><a href="/parksDetail/{{park}}" id="parkLink"> {{park_name}} </a></li>
    <li id="matchSkill"> Skill:<progress class="skill" value="{{skill_level}}" max="100"></progress></li>
    </br>
    <li>Created By: <a href="/profile/{{creator}}">{{creator_name}}</a></li>
    <li> Feedback for players:
    <ul id="playersFeedback">{{#players}}<li><a id="player" href="/feedback/{{#data}}{{id}}{{/data}}">{{username}}</a></li></ul>{{/players}}</li>
  </ul>
    <button id="join"> Join </button>
    <a id="confirm" href="/"> Confirm Match </a>
    <a id="decline" href="/"> Decline Match </a>
    <div id="cancelEdit">
    <a id="cancel" href="/"> Cancel Match </a>
    <a id="update" href="/updatematch/{{id}}">Edit Match</a>
    </div>
   <div id="matchDescription"> <p> {{description}} </p>
   </div>
   <a id="leaveMatch" href="/"> Leave Match </a>
  {{/data}}
</div>