<div id="matchDetailContainer">
  {{#data}}
  <img id="sportImage"src="{{img_url}}">
  <ul id="matchJoin">
    <li id="matchSkill"> Skill:<progress class="skill" value="{{skill_level}}" max="100"></progress></li>
    <li> {{date}}</li>
    <li> {{time}}</li>
    <li> {{sport}} </li>
    <li><a href="/parksDetail/{{park}}" id="parkLink"> {{park_name}} </a></li>
    <li id="matchDescription"> {{description}}</li>
    <li>Created By: <a href="/profile/{{creator}}">{{creator_name}}</a></li>
    </ul>
    {{#players}}<a href="/profile/{{id}}" class="name"><img id="playerImage" src="{{small_img}}"></a>{{/players}}
    <button id="join"> Join </button>
    <a id="confirm" href="/"> Confirm Match </a>
    <a id="decline" href="/"> Decline Match </a>
    <div id="cancelEdit">
    <a id="cancel" href="/"> Cancel Match </a>
    <a id="update" href="/updatematch/{{id}}">Edit Match</a>
    </div>
   </div>
   <a id="leaveMatch" href="/"> Leave Match </a>
   <!-- <button id="findMatch">Find This Match</button>
   <iframe id="directions" width="600" height="450" frameborder="0" style="border:0" src=""></iframe>
   <input id="parkName" type="hidden" value="{{park_name}}"> -->
  {{/data}}
</div>