<div id="parksContainer">
  <label>Input location</label><input id="zipcode" type="text" placeholder="Zip Code" /><button id="zip">Search</button>
  <button id="locate">Show my location</button>
  {{#data}}
  <ul class="parks">
    <li>
      <iframe
      id="googleMaps"
      width="300"
      height="300"
      frameborder="0" style="border:0"

      src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDUAqVfbZzmCDb_JkQiXhGJ0wrIZJoaxfQ
        &q={{name}}+{{display_address3}}&zoom=12">
      </iframe>
    </li>
    <li id="parkPic"><img class="parksImage"src="{{image_url}}"></li>
    <li id="parkDet"><a href="/parksDetail/{{id}}">{{name}}</a></br>{{rating}}/5</br><a href="{{url}}"> Yelp Park Review</a></li>
    <li class="parkAddress">{{display_address1}} </br> {{display_address3}}</br>{{distance}} Miles</li>
    <li class="parkMatch"><a type="submit" href="/parkCreateMatch/{{id}}">Create Match</a></li>
    </ul>
    <ul class="availableSports">
    {{#court_set}}
    <li><img class="sportPic"src="{{img_url}}"></li>
    {{/court_set}}
    </ul>
  {{/data}}
  </div>
  <button id="backPark"> Back </button>
  <button id="nextPark"> Next </button>

