<div id="parksPage">
  {{#data}}
<div id="parksDetail">
  <h2 class="parkName"><a href="{{url}}">{{name}}</a></h2>
  <a href="{{url}}"><img id="parkImage"src="{{image_url}}"></a>
  <ul>
    <li><a id="parkMatch" type="submit" href="/createMatch">Create Match</a></li>
    <li>{{rating}}/5</li>
    <li><a href="{{url}}"> Yelp Park Review</a></li>
    <p>{{display_address1}} </br> {{display_address2}} </br> {{display_address3}}</p>
    </ul>
    {{#court_set}}
          <ul>
            <li><img src="{{img_url}}" /></br>{{sport}}</li>
          </ul>
    {{/court_set}}
    </div>

    <ul class="parkMatches">{{#match_set}}
        <li><img id="sportImage"src="{{img_url}}"></li>
        <li class="match"><a href="/profile/{{creator}}" class="creatorName"> {{creator_name}} </a></li>
        <li class="match">{{sport}}</li>
        <li class="match"> Date: {{date}}</li>
        <li class="match"> Time: {{time}}</li>
        {{/match_set}}
     </ul>
     <a id="createCourtAnchor" href="/parkCreatePage/{{id}}">Create Court</a>
  {{/data}}
</div>