<div id="parksContainer">
    <label>Input location</label>
    <form>
    <input id="zipcode" type="text" placeholder="Zip Code" />
    <button id="zip" type="submit">Search</button>
    </form>
    <form>
    <input id="parkSearch" type="search" placeholder="Search for a Park">
    <button id="searchPark" type="submit">Search</button>
  </form>
  <button id="locate">Show my location</button>
  {{#data}}
  <ul class="parks">
    <li class="googleMaps">
      <iframe  width="300" height="300" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDUAqVfbZzmCDb_JkQiXhGJ0wrIZJoaxfQ
        &q={{name}}+{{display_address3}}&zoom=12">
      </iframe>
    </li>
    <li class="parkPic"><img class="parksImage" src="{{image_url}}">
      </br>{{display_address1}}</br> {{display_address3}}</br>{{distance}} Miles</li>
    <li class="parkMatch"><a type="submit" href="/parkCreateMatch/{{id}}">Create Match</a>
    </li>
    <li class="parkDet">
      <div class="parkName"><a href="/parksDetail/{{id}}">{{name}}</a>
      </div>
      </br><img src="{{rating_img_url}}">
      </br><a class="yelpReview" href="{{url}}"> Yelp Park Review</a>
    </li>
    <li class="availableSports">
    <p>Available </br>Sports</p>
    {{#court_set}}
    <img class="sportPic"src="{{img_url}}">
    {{/court_set}}
    </li>
  </ul>
  {{/data}}
</div>
<button id="backPark"> Back </button>
<button id="nextPark"> Next </button>