<div id="createCourt">
  <form>
    <select id="addNewParkSport" placeholder="Add New Sport">
      <option value="Tennis">Tennis</option>
      <option value="Football">Footballl</option>
      <option value="Soccer">Soccer</option>
      <option value="Basketball">Basketball</option>
      <option value="Pickleball">Pickleball</option>
    </select>
    <label>Optional</label>
    <input type="text" id="addOtherParkSport" placeholder="Add other sport">
    <input type="text" id="addNumCourts" placeholder="Add number of courts">
  </form>
  <button type="submit" id="createCourtButton">Create Court</button>
</div>