<div id="parksContainer">
  {{#data}}
  <ul id="parks">
    <li id="parkPic"><img id="parksImage"src="{{image_url}}"></li>
    <li>
  <iframe
  width="200"
  height="200"
  frameborder="0" style="border:0"
  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDUAqVfbZzmCDb_JkQiXhGJ0wrIZJoaxfQ
    &q={{name}}+{{postal_code}}">
</iframe>
</li>
    <li id="parkDet"><a href="/parksDetail/{{id}}">{{name}}</a></br>{{rating}}/5</br><a class="yelp" href="{{url}}"> Yelp Park Review</a></li>
    <li>{{display_address1}} </br> {{display_address3}}</br>{{distance}}</li>
    <li id="courtSet">
        {{#court_set}}
        <ul id="available">
          <li><img src="{{img_url}}"></br>{{sport}}</li>
        </ul>
        {{/court_set}}</li>
    <li id="parkMatch"><a type="submit" href="/parkCreateMatch/{{id}}">Create Match Here</a></li>
  </ul>
  {{/data}}
  </div>
<button id="locate">Show my location</button>
<label>Input location</label><input id="zipcode" type="text" /><button id="zip">submit</button>
  <button id="backPark"> Back </button>
  <button id="nextPark"> Next </button>

