<div id="profileContainer">
{{#data}}
  <ul>
    <li><img id="userProfileImg" src="http://placehold.it/200x200"></li>
    <li class="profileDescription"> Username: {{username}} </li>
    <li class="profileDescription"> Age: {{profile.age}} </li>
    <li class="profileDescription"> Gender: {{profile.gender}}</li>
    <li class="profileDescription">Skill Level <progress class="skill" value="{{profile.skill}}" max="100"></progress></li>
    <li class="profileDescription"> Sportsmanship <progress class="skill" value="{{profile.sportsmanship}}" max="100"></progress></li>
  </ul>
{{/data}}
</div>

<div id="historyContainer">
  <ul>
    <h2> History of Matches </h2>
    <li> Match: </li>
    <li> Experience: </li>
{{#data}}
    <a id="goToFeedback" href="/feedback/{{id}}"> Feedback </a>
{{/data}}
  </ul>
</div>