<h2>Profile Page</h2>

<div id="profileContainer">
<h2> Upcoming Matches </h2>
{{#data}}
  <ul>

    <li> Name: {{username}} </li>
    <li> Age: {{profile.age}} </li>
    <li> Gender: {{profile.gender}}</li>
    <li>Skill Level <progress class="skill" value="{{profile.skill}}" max="100"></progress></li>
    <li> Sportsmanship <progress class="skill" value="{{profile.sportsmanship}}" max="100"></progress></li>
    <button type="submit"> Challenge </button>
  </ul>
{{/data}}

</div>
  <ul>
    <h2> History of Matches </h2>
    <li> Match: Tom </li>
    <li> Experience: 35 Tennis matches </li>
{{#data}}
    <a id="goToFeedback" type="submit" href="/feedback/{{id}}"> Feedback </a>
{{/data}}
  </ul>
