<h2>Profile Page</h2>

<button type="submit">Log In</button>
<button type="submit">Sign Up</button>

<ul>
  <h2> Upcoming Matches </h2>
  <li> Match: Bob </li>
  <li> Skill: 40/100 </li>
  <li> Sportsmanship: 70/100 </li>
  <li> Experience: 35 Tennis matches </li>
  <button type="submit"> Challenge </button>
</ul>

<ul>
  <h2> History of Matches </h2>
  <li> Match: Tom </li>
  <li> Experience: 35 Tennis matches </li>

  <button id="goToFeedback" type="submit" href="/feedback"> Feedback </button>

</ul>



